<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", required: false)
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary border-bottom mb-3">
        <div class="container-xxl container-fluid">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand" title="Biblioteca ASP.NET Framework"><i class="fa fa-leaf text-danger"></i></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tabelas Principais</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Empréstimos</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Livros</a></li>
                            <li><a class="dropdown-item" href="#">Autores</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Utilizadores")">Utilizadores</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Tabelas Autiliares</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Categorias")">Categorias</a></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Estados")">Estados dos livros</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="@Url.Action("Index", "Editoras")">Editoras</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Relatórios</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Utilizadores por sexo e faixa etária</a></li>
                            <li><a class="dropdown-item" href="#">Livros por categoria</a></li>
                            <li><a class="dropdown-item" href="#">Estados dos empréstimos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">@Html.ActionLink("Sobre", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-item">@Html.ActionLink("Contato", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="navbar fixed-bottom bg-body-tertiary border-top" role="navigation">
        <div class="container-xxl container-fluid">
            <div class="navbar-text small">@DateTime.Now.Year - Biblioteca ASP.NET Framework | @BuildInfoHelper.GetBuildDate()</div>
            <div class="navbar-right navbar-text small hidden-sm"><a href="http://www.ua.pt" class="nav-link" target="_blank" title="Universidade de Aveiro">Universidade de Aveiro</a></div>
        </div>
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
