@model IEnumerable<Biblioteca1.Models.EmprestimoEstado>
@{
    ViewBag.Title = "Lista de Estados dos Livros";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-bookmark-o text-danger"></i> @ViewBag.Title</h2>
</div>
<p><a href="@Url.Action("Create")" class="btn btn-sm btn-default"><i class="fa fa-plus"></i></a></p>
<table class="table table-striped table-sm align-middle">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td class="text-end">
                <a class="btn btn-sm btn-default" href="@Url.Action("Edit", new { id = item.Id })"><i class="fa fa-pencil"></i></a>
                <a class="btn btn-sm btn-default" href="@Url.Action("Details", new { id = item.Id })"><i class="fa fa-eye"></i></a>
                @if (item.Emprestimoes.Count == 0)
                {
                    <a class="btn btn-sm btn-default" href="@Url.Action("Delete", new { id = item.Id })"><i class="fa fa-trash-o"></i></a>
                }
                else
                {
                    <span class="btn btn-sm btn-default" title="Há empréstimos com com este Estado.&#10;Não pode ser apagado."><i class="fa fa-times text-danger"></i></span>
                }

            </td>
        </tr>
    }
</table>
@Html.Partial("_ToastStatus")
@section Scripts {
    <script>
        $('document').ready(function () {
            $(".toast").toast('show');
        });
    </script>
}
