@model Biblioteca1.Models.Livro
@{
    ViewBag.Title = "Livro - Apagar";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-bookmark-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Titulo)</dt>
    <dd>@Html.DisplayFor(model => model.Titulo)</dd>
    <dt>@Html.DisplayNameFor(model => model.AnoPublicacao)</dt>
    <dd>@Html.DisplayFor(model => model.AnoPublicacao)</dd>
    <dt>@Html.DisplayNameFor(model => model.AnoEdicao)</dt>
    <dd>@Html.DisplayFor(model => model.AnoEdicao)</dd>
    <dt>@Html.DisplayNameFor(model => model.Exemplares)</dt>
    <dd>@Html.DisplayFor(model => model.Exemplares)</dd>
    <dt>@Html.DisplayNameFor(model => model.EditoraId)</dt>
    <dd>@Html.DisplayFor(model => model.Editora.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.LivroAutors) </dt>
    <dd>
        <div class="row row-cols-4 g-1 mt-1">
            @foreach (var item in Model.LivroAutors.OrderBy(x => x.OrdemAutoria))
            {
                <div class="col">
                    <div class="border rounded-2 p-1">
                        <i class="fa fa-user-o"></i> @item.Autor.Nome
                        <a href="@Url.Action("DeleteOnLivro", "Autores", new { livroId = item.LivroId, autorId = item.AutorId })" class="float-end icon-link" title="Remover autoria"><i class="btn-close"></i></a>
                    </div>
                </div>
            }
        </div>
    </dd>
    <dt>@Html.DisplayNameFor(model => model.Categorias)</dt>
    <dd>
        <div class="row row-cols-4 g-1 mt-1">
            @foreach (var item in Model.Categorias)
            {
                <div class="col">
                    <div class="border rounded-2 p-1">
                        <i class="fa fa-bookmark-o"></i> @item.Nome
                        <a href="@Url.Action("DeleteOnLivro", "Categorias", new { livroId = Model.Id, categoriaId = item.Id })" class="float-end icon-link" title="Remover autoria"><i class="btn-close"></i></a>
                    </div>
                </div>
            }
        </div>
    </dd>
</dl>
<h4 class="text-danger">Tem a certeza que pretende apagar este registo?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <button type="submit" value="Delete" class="btn btn-danger btn-sm" title="Apagar"><i class="fa fa-trash-o"></i> <small>Apagar</small></button>
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
}
