@model Biblioteca1.Models.Editora
@{
    ViewBag.Title = "Editora - Detalhes";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-bookmark-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.Morada)</dt>
    <dd>@Html.DisplayFor(model => model.Morada)</dd>
</dl>
<p>
    <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-primary btn-sm" title="Editar"><i class="fa fa-pencil"></i> <small>Editar</small></a>
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
</p>
@if (Model.Livroes.Count > 0)
{
    <div class="border-bottom mt-4 mb-2">
        <h4><i class=" fa fa-book text-danger"></i> Lista de livros desta Editora (@Model.Livroes.Count)</h4>
    </div>
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Livroes.FirstOrDefault().Titulo)</th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.Livroes)
        {
            <tr>
                <td>@item.Titulo</td>
                <td class="text-end">
                    <a href="@Url.Action("Details", "Livros", new {id = item.Id })" class="btn btn-default btn-xs"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
        }
    </table>
}
else
{
    <h6><i class="fa fa-info-circle text-info"></i> Não há livros desta editora.</h6>
}
