@model Biblioteca1.Models.Autor
@{
    ViewBag.Title = "Autor - Apagar";
}
<div class="border-bottom mt-4 mb-2">
    <h2><i class="fa fa-user-o text-danger"></i> @ViewBag.Title</h2>
</div>
<dl>
    <dt>@Html.DisplayNameFor(model => model.Nome)</dt>
    <dd>@Html.DisplayFor(model => model.Nome)</dd>
    <dt>@Html.DisplayNameFor(model => model.Bibliografia)</dt>
    <dd>@Html.DisplayFor(model => model.Bibliografia)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataNascimento)</dt>
    <dd>@Html.DisplayFor(model => model.DataNascimento)</dd>
    <dt>@Html.DisplayNameFor(model => model.DataMorte)</dt>
    <dd>@Html.DisplayFor(model => model.DataMorte)</dd>
</dl>
<h4 class="text-danger">Tem a certeza que pretende apagar este registo?</h4>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <button type="submit" value="Delete" class="btn btn-danger btn-sm" title="Apagar"><i class="fa fa-trash-o"></i> <small>Apagar</small></button>
    <a href="@Url.Action("Index")" class="btn btn-default btn-sm" title="Voltar à Lista"><i class="fa fa-list"></i> <small>Voltar à Lista</small></a>
}
